#SPDX-License-Identifier: Apache-2.0
---
# tasks file for soho-router

- name: Unsupported distributions and operating system
  ansible.builtin.command: /bin/false
  when: (ansible_os_family == 'RedHat' and ansible_distribution == 'RedHat') or
        (ansible_os_family == 'RedHat' and ansible_distribution == 'CentOS' and ansible_distribution_major_version|int <= 8) or
        (ansible_os_family == 'RedHat' and ansible_distribution == 'Scientific') or
        (ansible_os_family == 'RedHat' and ansible_distribution == 'CloudLinux') or
        (ansible_os_family == 'RedHat' and ansible_distribution == 'OracleLinux') or
        (ansible_os_family == 'RedHat' and ansible_distribution == 'Amazon') or
        (ansible_os_family == 'RedHat' and ansible_distribution == 'XenServer') or
        (ansible_os_family == 'Debian') or
        (ansible_os_family == 'Suse') or
        (ansible_os_family == 'Gentoo') or
        (ansible_os_family == 'Archlinux') or
        (ansible_os_family == 'Mandrake') or
        (ansible_os_family == 'HP-UX') or
        (ansible_os_family == 'AIX') or
        (ansible_os_family == 'Solaris') or
        (ansible_os_family == 'FreeBSD') or
        (ansible_os_family == 'Darwin') or
        (ansible_os_family == 'Windows')

- name: Configuration parameters
  ansible.builtin.debug:
    msg:
      - "router_hostname: {{ router_hostname }}"
      - "router_wan_interface: {{ router_wan_interface }}"
      - "router_lan_interface: {{ router_lan_interface }}"

- name: Fail when 'router_wan_interface' or 'router_lan_interface' variables are empty
  fail:
    msg: Missing interfaces in configuration, run 'nmcli' to discover valid interface names.
  when: (router_wan_interface | length == 0) or
        (router_lan_interface | length == 0)

- name: Set hostname ({{ router_hostname }}) using systemd strategy
  become: true
  ansible.builtin.hostname:
    name: "{{ router_hostname }}"
    use: systemd

- name: OpenSSH server hardening
  become: true
  ansible.builtin.copy:
    src: files/sshd_config.d/08-home-router-sshd.conf
    dest: /etc/ssh/sshd_config.d/08-home-router-sshd.conf
    owner: root
    group: root
    mode: '0644'

# Setup DHCPv4 server
- name: Install ISC Kea DHCPv4/DHCPv6 server
  become: true
  ansible.builtin.dnf:
    name: kea
    state: present

- name: Configure ISC Kea DHCPv4 server based on template
  become: true
  ansible.builtin.template:
    src: files/kea/kea-dhcp4.conf.j2
    dest: /etc/kea/kea-dhcp4.conf
    owner: root
    group: root
    mode: '0640'
  notify:
    - Restart Kea DHCPv4 server

- name: Enable ISC Kea DHCPv4 systemd service
  become: true
  ansible.builtin.systemd_service:
    name: kea-dhcp4.service
    state: started
    enabled: true

# Setup interfaces and bridge
- name: Load kernel modules
  become: true
  ansible.builtin.copy:
    src: files/modules-load.d/10-kernel-router.conf
    dest: /etc/modules-load.d/10-kernel-router.conf
    owner: root
    group: root
    mode: '0644'

- name: Setup bridge interface
  become: true
  community.general.nmcli:
    type: bridge
    conn_name: "{{ router_bridge_interface }}"
    autoconnect: true
    method4: manual
    method6: link-local
    ip4: "{{ router_lan_network }}"
    stp: false
    state: present

- name: Setup LAN interface
  become: true
  community.general.nmcli:
    type: ethernet
    conn_name: "{{ router_lan_interface }}"
    autoconnect: true
    method4: disabled
    method6: disabled
    slave_type: bridge
    master: "{{ router_bridge_interface }}"
    state: present
