option domain-name "${DOMAIN_NAME}";
option domain-name-servers ${DNS_SERVER};
default-lease-time 3600;
max-lease-time 28800;
authoritative;
subnet ${NETWORK} netmask ${NETMASK} {
  range dynamic-bootp ${DHCP_LOW} ${DHCP_HIGH};
  option broadcast-address ${BROADCAST};
  option routers ${ADDRESS};
  option interface-mtu 1500;
}
