{
  "Dhcp4": {
    "renew-timer": 3600,
    "rebind-timer": 5400,
    "min-valid-lifetime": 900,
    "valid-lifetime": 7200,
    "max-valid-lifetime": 28800,
    "interfaces-config": {
      "interfaces": [
        "{{ router_bridge_interface }}"
      ]
    },
    "control-socket": {
      "socket-type": "unix",
      "socket-name": "kea4-ctrl-socket"
    },
    "lease-database": {
      "type": "memfile",
      "lfc-interval": 3600,
      "persist": true,
      "name": "/tmp/kea-leases4.csv"
    },
    "expired-leases-processing": {
      "reclaim-timer-wait-time": 60,
      "flush-reclaimed-timer-wait-time": 120,
      "hold-reclaimed-time": 3600,
      "max-reclaim-leases": 100,
      "max-reclaim-time": 250,
      "unwarned-reclaim-cycles": 5
    },
    "subnet4": [
      {
        "id": 1,
        "subnet": "{{ router_lan_subnet }}",
        "pools": [
          {
            "pool": "{{ dhcp_client_pool_start }} - {{ dhcp_client_pool_end }}"
          }
        ],
        "interface": "{{ router_bridge_interface }}",
        "option-data": [
          {
            "name": "routers",
            "data": "{{ dhcp_router_ip }}"
          },
          {
            "name": "domain-name-servers",
            "data": "{{ dhcp_primary_dns }}, {{ dhcp_secondary_dns }}"
          },
          {
            "name": "domain-name",
            "data": "{{ router_domain }}"
          }
        ]
      }
    ],
    "loggers": [
      {
        "name": "kea-dhcp4",
        "output-options": [
          {
            "output": "syslog",
            "pattern": "%-5p %m\n"
          }
        ],
        "severity": "INFO",
        "debuglevel": 0
      }
    ]
  }
}
