#SPDX-License-Identifier: Apache-2.0
---
all:
  children:
    routers:
      hosts:
        localhost:
          ansible_connection: local
          ansible_python_interpreter: "{{ansible_playbook_python}}"
          router_hostname: "home-router"
          router_wan_interface: ""
          router_lan_interface: ""
