#SPDX-License-Identifier: Apache-2.0
---
# tasks file for auto-update

- name: Unsupported distributions and operating system
  fail:
    msg: Use Fedora Server for latest hardware support and AlmaLinux for LTS on supported hardware
  when: (ansible_os_family == 'RedHat' and ansible_distribution == 'RedHat') or
        (ansible_os_family == 'RedHat' and ansible_distribution == 'CentOS' and ansible_distribution_major_version|int <= 8) or
        (ansible_os_family == 'RedHat' and ansible_distribution == 'Scientific') or
        (ansible_os_family == 'RedHat' and ansible_distribution == 'CloudLinux') or
        (ansible_os_family == 'RedHat' and ansible_distribution == 'OracleLinux') or
        (ansible_os_family == 'RedHat' and ansible_distribution == 'Amazon') or
        (ansible_os_family == 'RedHat' and ansible_distribution == 'XenServer') or
        (ansible_os_family == 'Debian') or
        (ansible_os_family == 'Suse') or
        (ansible_os_family == 'Gentoo') or
        (ansible_os_family == 'Archlinux') or
        (ansible_os_family == 'Mandrake') or
        (ansible_os_family == 'HP-UX') or
        (ansible_os_family == 'AIX') or
        (ansible_os_family == 'Solaris') or
        (ansible_os_family == 'FreeBSD') or
        (ansible_os_family == 'Darwin') or
        (ansible_os_family == 'Windows')

# -----------------------------------------------------------------------------
# dnf4: unattended auto updates based on legacy Fedora
# -----------------------------------------------------------------------------
- name: Install package for auto update (dnf4)
  become: true
  ansible.builtin.dnf:
    name: dnf-automatic
    state: present
  when: (ansible_os_family == 'RedHat' and ansible_distribution == 'Fedora' and ansible_distribution_version|int <= 40) or
        (ansible_os_family == 'RedHat' and ansible_distribution != 'Fedora' and ansible_distribution_major_version|int <= 10)

- name: Directory for dnf-automatic-install override (dnf4)
  become: true
  ansible.builtin.file:
    path: /etc/systemd/system/dnf-automatic-install.timer.d
    owner: root
    group: root
    state: directory
    mode: 0755
  when: (ansible_os_family == 'RedHat' and ansible_distribution == 'Fedora' and ansible_distribution_version|int <= 40) or
        (ansible_os_family == 'RedHat' and ansible_distribution != 'Fedora' and ansible_distribution_major_version|int <= 10)

- name: Enable weekly OS auto updates (dnf4)
  become: true
  ansible.builtin.copy:
    src: files/dnf-override.conf
    dest: /etc/systemd/system/dnf-automatic-install.timer.d/dnf-override.conf
    owner: root
    group: root
    mode: 0444
  when: (ansible_os_family == 'RedHat' and ansible_distribution == 'Fedora' and ansible_distribution_version|int <= 40) or
        (ansible_os_family == 'RedHat' and ansible_distribution != 'Fedora' and ansible_distribution_major_version|int <= 10)

- name: Reboot after updates if needed (dnf4)
  become: true
  ansible.builtin.lineinfile:
    path: /etc/dnf/automatic.conf
    regexp: '^reboot = '
    line: 'reboot = when-changed'
  when: (ansible_os_family == 'RedHat' and ansible_distribution == 'Fedora' and ansible_distribution_version|int <= 40) or
        (ansible_os_family == 'RedHat' and ansible_distribution != 'Fedora' and ansible_distribution_major_version|int <= 10)

- name: Enable automatic updates (dnf4)
  become: true
  ansible.builtin.systemd_service:
    name: dnf-automatic-install.timer
    state: started
    enabled: true
  when: (ansible_os_family == 'RedHat' and ansible_distribution == 'Fedora' and ansible_distribution_version|int <= 40) or
        (ansible_os_family == 'RedHat' and ansible_distribution != 'Fedora' and ansible_distribution_major_version|int <= 10)

# -----------------------------------------------------------------------------
# dnf5: unattended auto updates based on modern Fedora
# -----------------------------------------------------------------------------
- name: Install package for auto update (dnf5)
  become: true
  ansible.builtin.dnf:
    name: dnf5-plugin-automatic, libcurl-full
    allowerasing: true
    state: present
  when: (ansible_os_family == 'RedHat' and ansible_distribution == 'Fedora' and ansible_distribution_version|int >= 41) or
        (ansible_os_family == 'RedHat' and ansible_distribution != 'Fedora' and ansible_distribution_major_version|int >= 11)

- name: Directory for dnf5-automatic override (dnf5)
  become: true
  ansible.builtin.file:
    path: /etc/systemd/system/dnf5-automatic.timer.d
    owner: root
    group: root
    state: directory
    mode: 0755
  when: (ansible_os_family == 'RedHat' and ansible_distribution == 'Fedora' and ansible_distribution_version|int >= 41) or
        (ansible_os_family == 'RedHat' and ansible_distribution != 'Fedora' and ansible_distribution_major_version|int >= 11)

- name: Weekly OS auto updates (dnf5)
  become: true
  ansible.builtin.copy:
    src: files/dnf-override.conf
    dest: /etc/systemd/system/dnf5-automatic.timer.d/dnf-override.conf
    owner: root
    group: root
    mode: 0644
  when: (ansible_os_family == 'RedHat' and ansible_distribution == 'Fedora' and ansible_distribution_version|int >= 41) or
        (ansible_os_family == 'RedHat' and ansible_distribution != 'Fedora' and ansible_distribution_major_version|int >= 11)

- name: Reboot after updates if needed (dnf5)
  become: true
  ansible.builtin.copy:
    src: files/automatic.conf
    dest: /etc/dnf/automatic.conf
    owner: root
    group: root
    mode: 0644
  when: (ansible_os_family == 'RedHat' and ansible_distribution == 'Fedora' and ansible_distribution_version|int >= 41) or
        (ansible_os_family == 'RedHat' and ansible_distribution != 'Fedora' and ansible_distribution_major_version|int >= 11)

- name: Enable automatic updates (dnf5)
  become: true
  ansible.builtin.systemd_service:
    name: dnf5-automatic.timer
    state: started
    enabled: true
  when: (ansible_os_family == 'RedHat' and ansible_distribution == 'Fedora' and ansible_distribution_version|int >= 41) or
        (ansible_os_family == 'RedHat' and ansible_distribution != 'Fedora' and ansible_distribution_major_version|int >= 11)

- name: Install packages on router (Fedora 40 and earlier)
  become: true
  ansible.builtin.dnf:
    name: dnf-automatic
    state: present
  when: ansible_distribution == 'Fedora' and ansible_distribution_version|int <= 40

# -----------------------------------------------------------------------------
# Make sure system is up-to-date
# -----------------------------------------------------------------------------
- name: Upgrade all packages
  become: true
  ansible.builtin.dnf:
    name: "*"
    allowerasing: true
    state: latest
  when: ansible_os_family == 'RedHat'

